.tip {
  position: fixed;
  bottom: 3.5rem;
  left: 1.78rem;
  width: 3.9rem;
  height: 1rem;
  font-size: 0.28rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 0.1rem;
  display: none; }

.m-tit {
  box-shadow: 0 0.01rem 0.03rem #f6f6f6;
  -webkit-box-shadow: 0 0.01rem 0.03rem #f6f6f6;
  -moz-box-shadow: 0 0.01rem 0.03rem #f6f6f6;
  -o-box-shadow: 0 0.01rem 0.03rem #f6f6f6;
  height: 0.9rem;
  width: 100%;
  padding: 0 0.32rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0; }
  .m-tit i {
    font-size: 0.36rem;
    line-height: 0.9rem;
    float: left; }

.m-content {
  font-size: 12px;
  padding: 1rem 0.32rem 0; }
  .m-content .m-title {
    margin-top: 1.5rem; }
    .m-content .m-title i {
      float: left;
      width: 0.05rem;
      height: 0.4rem;
      background: #ff712b;
      margin: 0 0.2rem; }
    .m-content .m-title span {
      float: left;
      font-size: 0.4rem;
      color: #333; }

.box {
  height: 0.55rem;
  overflow: hidden; }
  .box .left {
    float: left;
    height: 0.55rem;
    padding-top: 0.05rem;
    width: 0.75rem; }
    .box .left i {
      font-size: 0.36rem;
      line-height: 0.45rem;
      color: #000;
      padding: 0 0.2rem;
      border-right: 0.01rem solid #FF712B; }
  .box .right {
    float: right;
    height: 0.55rem;
    width: 6rem; }
    .box .right input {
      width: 5.6rem;
      height: 0.55rem;
      line-height: 0.55rem;
      border: none;
      margin-left: 0.2rem;
      color: #333; }
    .box .right span {
      float: right;
      width: 1.5rem;
      height: 0.48rem;
      border: 1px solid #ddd;
      text-align: center;
      line-height: 0.48rem;
      font-size: 0.26rem;
      color: #b2b2b2;
      border-radius: 0.02rem;
      -webkit-border-radius: 0.02rem; }

.next {
  width: 6.46rem;
  height: 0.9rem;
  margin: 1.2rem auto;
  background: #FF712B;
  font-size: 0.28rem;
  color: #fff;
  text-align: center;
  line-height: 0.9rem;
  border-radius: 0.05rem; }
