.list{
    font-size: 12px;
    width: 100%;
    height: 1rem;
    padding: 0 0.32rem;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    span{
        font-size: 0.32rem;
        color: #303030;
        line-height: 1rem;
    }
    i{
        font-size: 0.32rem;
        color: #303030;
        float: right;
        line-height: 1rem; 
    }
}
.content{
    overflow: hidden;
}