.content {
  padding-bottom: 1.1rem;
}

.top {
  width: 100%;
  height: 4.8rem;
  font-size: 12px;
  position: relative;
}
.top .top-up {
  text-align: center;
  overflow: hidden;
  height: 3.9rem;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
}
.top .top-up img {
  width: 1.37rem;
  height: 1.37rem;
  border-radius: 50%;
  border: 0.02rem solid #bfb5b4;
}
.top .top-up .username {
  font-size: 0.3rem;
  color: #fff;
  margin-top: 0.3rem;
}
.top .top-up .level {
  font-size: 0.24rem;
  color: #fff;
  margin-top: 0.1rem;
}
.top .info {
  width: 6.86rem;
  height: 1.6rem;
  background: #fff;
  padding: 0.1rem 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: flex;
  border-radius: 0.1rem;
  position: absolute;
  top: 3rem;
  left: 0.32rem;
  box-shadow: 0.01rem 0.01rem 0.02rem 0.01rem #ccc;
  -webkit-box-shadow: 0.01rem 0.01rem 0.02rem 0.01rem #ccc;
  -moz-box-shadow: 0.01rem 0.01rem 0.02rem 0.01rem #ccc;
  -ms-box-shadow: 0.01rem 0.01rem 0.02rem 0.01rem #ccc;
  -o-box-shadow: 0.01rem 0.01rem 0.02rem 0.01rem #ccc;
}
.top .info .list {
  width: 2.4rem;
  height: 1.4rem;
  flex: 1;
  text-align: center;
}
.top .info .list p:nth-of-type(1) {
  margin-top: 0.35rem;
}
.top .info .list p:nth-of-type(1) i {
  font-size: 0.3rem;
  color: #ff712b;
  line-height: 0.5rem;
}
.top .info .list p:nth-of-type(2) span {
  font-size: 0.26rem;
  color: #303030;
  line-height: 0.45rem;
}
.top .info .list p:nth-of-type(2) strong {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-weight: normal;
  width: 0.95rem;
  height: 0.45rem;
  background: #ff712b;
  color: #fff;
  border-radius: 0.1rem;
  line-height: 0.45rem;
  margin-left: 0.2rem;
}

.box {
  padding: 0 0.32rem;
  font-size: 12px;
  height: 1rem;
  background: #fff;
}
.box strong {
  font-size: 0.4rem;
  line-height: 1rem;
  color: #434343;
  font-weight: normal;
}
.box span {
  font-size: 0.32rem;
  color: #303030;
  line-height: 1rem;
  margin-left: 0.2rem;
}
.box i {
  float: right;
  font-size: 0.3rem;
  line-height: 1rem;
}

.mul-order {
  width: 100%;
  height: 1.3rem;
  background: #fff;
  font-size: 12px;
  display: flex;
}
.mul-order .one {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mul-order .one i {
  font-size: 0.4rem;
  color: #434343;
  text-align: center;
}
.mul-order .one span {
  font-size: 0.24rem;
  color: #303030;
  text-align: center;
}

.new-order {
  width: 100%;
  height: 1.6rem;
  font-size: 12px;
  background: #fff;
  padding: 0.2rem 0.32rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.new-order .left {
  width: 1.7rem;
  height: 1.2rem;
  float: left;
  border-right: 1px solid #bbb;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  overflow: hidden;
}
.new-order .right {
  float: left;
  width: 5.16rem;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.new-order .right p {
  margin-left: 0.25rem;
}
.new-order .right b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 1rem;
  height: 0.4rem;
  font-size: 0.2rem;
  line-height: 0.4rem;
  text-align: center;
  border: 1px solid #ff712b;
  border-radius: 0.1rem;
  color: #ff712b;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
}
.new-order .left span,
.new-order .right span {
  font-size: 0.26rem;
  color: #303030;
}
.new-order .left i,
.new-order .right i {
  font-size: 0.24rem;
  color: #666;
}
