@import url("public.css");
html {
  font-size: 13.333vm; }

.Membercenter {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative; }
  .Membercenter::-webkit-scrollbar {
    width: 0; }
  .Membercenter .menber-top {
    width: 100%;
    height: 3.9rem;
    background: #cccccc;
    text-align: center; }
    .Membercenter .menber-top img {
      margin-top: 0.27rem;
      width: 1.55rem;
      height: 1.55rem;
      background: none; }
    .Membercenter .menber-top dl dt {
      margin-top: 0.25rem;
      font-size: 0.30rem;
      color: #fff; }
    .Membercenter .menber-top dl dd {
      font-size: 0.24rem;
      color: #fff;
      margin-top: 0.1rem; }
  .Membercenter .title-di {
    width: 100%;
    height: 1.6rem;
    background: none;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    box-sizing: border-box;
    position: absolute;
    top: 3rem; }
    .Membercenter .title-di .title-white {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 0.1rem;
      box-shadow: 0.02rem 0.04rem 0.06rem #000;
      display: -webkit-box;
      -webkit-box-orient: horizontal; }
      .Membercenter .title-di .title-white dl {
        -webkit-box-flex: 1;
        text-align: center; }
        .Membercenter .title-di .title-white dl dt {
          color: #ff712b;
          font-size: 0.24rem;
          margin-top: 0.45rem; }
        .Membercenter .title-di .title-white dl dd {
          color: #606060;
          font-size: 0.28rem;
          margin-top: 0.1rem; }
      .Membercenter .title-di .title-white span {
        display: block;
        width: 0.02rem;
        height: 80%;
        background: #bfbfbf;
        margin-top: 0.15rem; }
  .Membercenter .pd {
    width: 100%;
    height: 0.88rem;
    background: #f0f0f0; }
  .Membercenter .membervi {
    width: 100%;
    height: auto;
    background: #FFF;
    padding-left: 0.3rem;
    box-sizing: border-box; }
    .Membercenter .membervi .wodedj {
      width: 100%;
      height: 1rem;
      background: none;
      border-bottom: 0.01rem solid #bfbfbf;
      display: -webkit-box;
      -webkit-box-orient: horizontal; }
      .Membercenter .membervi .wodedj h4 {
        font-weight: normal;
        font-size: 0.3rem;
        color: #303030;
        line-height: 1rem; }
      .Membercenter .membervi .wodedj p {
        line-height: 1rem;
        font-size: 0.24rem;
        color: #909090;
        -webkit-box-flex: 1;
        text-align: right; }
      .Membercenter .membervi .wodedj span {
        display: inline-block;
        width: 0.2rem;
        height: 0.2rem;
        /*background: red;*/
        border: 0.02rem solid #303030;
        transform: rotateZ(45deg);
        border-bottom: none;
        border-left: none;
        vertical-align: middle;
        margin-right: 0.3rem;
        margin-top: -0.3rem;
        margin-left: 0.1rem; }
    .Membercenter .membervi .wodedja {
      width: 100%;
      height: 1rem;
      background: none;
      border-bottom: 0.01rem solid #bfbfbf;
      display: -webkit-box;
      -webkit-box-orient: horizontal; }
      .Membercenter .membervi .wodedja h4 {
        font-weight: normal;
        font-size: 0.3rem;
        color: #303030;
        line-height: 1rem;
        -webkit-box-flex: 1; }
      .Membercenter .membervi .wodedja span {
        display: inline-block;
        width: 0.2rem;
        height: 0.2rem;
        /*background: red;*/
        border: 0.02rem solid #303030;
        transform: rotateZ(45deg);
        border-bottom: none;
        border-left: none;
        vertical-align: middle;
        margin-right: 0.3rem;
        margin-top: -0.3rem;
        margin-left: 0.1rem; }
    .Membercenter .membervi .therement {
      width: 100%;
      height: 1.4rem;
      background: none;
      display: -webkit-box;
      -webkit-box-orient: horizontal; }
      .Membercenter .membervi .therement dl {
        -webkit-box-flex: 1;
        text-align: center;
        margin-top: -0.1rem; }
        .Membercenter .membervi .therement dl dt img {
          width: 0.64rem;
          height: 0.64rem;
          background: none; }
        .Membercenter .membervi .therement dl dd {
          margin-top: -0.1rem;
          font-size: 0.28rem; }
  .Membercenter .mylog {
    width: 100%;
    height: 1rem;
    background: #fff;
    margin-top: 0.1rem;
    display: -webkit-box;
    -webkit-box-orient: horizontal; }
    .Membercenter .mylog h4 {
      font-weight: normal;
      font-size: 0.3rem;
      color: #303030;
      line-height: 1rem;
      -webkit-box-flex: 1;
      margin-left: 0.3rem; }
    .Membercenter .mylog i {
      display: block;
      font-size: 0.24rem;
      color: #303030;
      line-height: 1rem;
      margin-right: 0.1rem; }
    .Membercenter .mylog span {
      display: inline-block;
      width: 0.2rem;
      height: 0.2rem;
      /*background: red;*/
      border: 0.02rem solid #303030;
      transform: rotateZ(45deg);
      border-bottom: none;
      border-left: none;
      vertical-align: middle;
      margin-right: 0.3rem;
      margin-top: -0.3rem;
      margin-left: 0.1rem; }

/*# sourceMappingURL=Membercenter.css.map */
